/* .recipe-graphic {
    display: inline-block;
    align-content: space-around;
    text-align: center;
    margin: auto;
    width: 31%;
    margin-top: 30px;
} */

/* .recipe-graphic p {
    margin-bottom: 5px;
} */

.search-button {
    margin: auto;
    width: 20%;
    display: block;
    margin-top: 20px;
    font-size: 25px;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
}

.recipe-image {
    padding-left: 0;
}

.icon {
    font-size: 65px;
}

.recipe-graphic-container {
    border: 2px black solid;
    padding: 15px 0 5px 0;
    margin: 10px 0;
}

.icon-container p {
    font-size: 20px;
    margin-bottom: 4px;
}

.icon-container {
    display: inline-block;
    width: 31%;
    margin: auto;
    text-align: center;
}

.recipe-matches-container {
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

.recipe-info-container {
    padding: 10px 0;
}

.recipe-summary {
    margin-bottom: 4px;
}

.recipe-title {
    font-size: 28px;
    display: inline;
}

.favorite-icon {
    /* float: right; */
    position: absolute;
    color: red;
    /* vertical-align: top; */
    top: 3%;
    right: 2%;
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .recipe-graphic {
        width: 100%;
        margin-top: 5px;
    }

    .icon {
        font-size: 20px;
    }

    .recipe-matches-container {
        width: 90%;
    }

    .icon-container p {
        font-size: 14px;
        display: inline;
    }

    .icon-container {
        display: block;
        width: 100%;
        margin: auto;
        text-align: left;
    }

    .recipe-summary {
        display: none;
    }

    .fa-dollar-sign {
        padding-right: 4.5px;
        padding-left: 4.25px;
    }

    .recipe-graphic-container {
        border: none;
    }

    .recipe-title {
        font-size: 22px;
    }

    .favorite-icon {
        top: 5%;
        right: 8%
    }
  }